[package]
edition = "2021"
name    = "near-offchain-lightclient"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow            = "1.0"
async-trait       = "0.1"
config            = "0.13"
log               = "0.4"
pretty_env_logger = "0.4"
sled              = "0.34"
thiserror         = "1.0"

# Async
axum    = "*"
flume   = "0.10"
futures = "0.3.28"
reqwest = { version = "0.11.17", features = [ "gzip", "brotli", "deflate", "json" ] }
tokio   = { version = "1", features = [ "full" ] }

# Codec
borsh      = { version = "0.10.2", features = [ "rc" ] }
hex        = { version = "0.4", features = [ "serde" ] }
prost      = "0.11"
rustc-hex  = "2.1.0"
serde      = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"

# Near specific
near-crypto            = "0.17.0"
near-jsonrpc-client    = "0.6.0"
near-primitives        = "0.17.0"
near-primitives-core   = "0.17.0"
reed-solomon-novelpoly = "1.0.1"
sha256                 = "*"

[dev-dependencies]
rand = "*"
