[package]
edition.workspace = true
license.workspace = true
name              = "near-light-client"
version.workspace = true

[dependencies]
anyhow.workspace               = true
async-trait.workspace          = true
axum.workspace                 = true
coerce.workspace               = true
config.workspace               = true
either.workspace               = true
futures.workspace              = true
hex.workspace                  = true
itertools.workspace            = true
log.workspace                  = true
near-crypto.workspace          = true
near-jsonrpc-client.workspace  = true
near-primitives-core.workspace = true
near-primitives.workspace      = true
pretty_env_logger.workspace    = true
protobuf.workspace             = true
reqwest.workspace              = true
serde.workspace                = true
serde_json.workspace           = true
sled.workspace                 = true
thiserror.workspace            = true
tokio.workspace                = true
protocol = { path = "../../crates/protocol", package = "near-light-client-protocol" }

[dev-dependencies]
rand = "*"
